# Example Ansible hosts inventory for Hadoop.

master

[workstations]
work1
work2

[cluster]
c00
c02
c02
c03

[hadoop-nodes:children]
cluster

[hadoop-clients:children]
workstations

[hadoop]
master

[hadoop:children]
hadoop-clients
hadoop-nodes

[hadoop:vars]
namenode=master
resource_manager=master
history_server=master
